{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
        <div class="container">
            <div class="breadcrumb-hero">
                <h1><strong>Delete Application</strong></h1>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row d-flex justify-content-center p-4 pt-0">
        <div class="col-lg-6 mt-5 min-vh-100 no-apps">
            <h2 class="text-center">Are you sure you want to delete this application?</h2>
            <form method="post" class="d-flex justify-content-around">
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg" id="apply-button">YES</button>
                <a href="{% url 'my_applications' %}"><button type="submit" class="btn btn-signup btn-lg" id="cancel-button">NO</button></a>
            </form>
        </div>
    </div>
</section>


{%endblock%}